.modal-header {
  display: block;
}

.nav-item {
  margin-right: 0.5rem;
}

.nav-link {
  display: block;
  width: 30px;
  height: 30px;
  background-color: #ccc;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
}

.nav-item.active .nav-link {
  background-color: coral;
}

.nav-link:hover,
.nav-link:active {
  background-color: coral;
}
